.grid_container {
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    "menu header"
    "menu content"
    "menu footer";
    grid-template-columns: auto 1fr ;
    grid-template-rows: auto 1fr auto;
}

.header {
  grid-area: header;
}

.menu {
  grid-area: menu;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}
